body {
    font-family: sans-serif;
    background-color:peachpuff;
}
header{
    background-color:#FFD600;
    height: 100px;
}
.logo{
    position: absolute;
}

.yy{
    text-align: center;
    position: relative;
    font-size: larger;
    color:#2BC804 ;
}
.oo{
    font-size: large;
}
h1{
    color: #0139FE;
    text-align: center;
}

  h2{
    text-align: center;
    position: relative;
    color:#FA00FF;
  }
  .cc{
    position:relative ;
    color:blue;
  }

.gg{
    position: relative;
    color:blue;
}
.bb{
    position: relative;
    color:blue;
}
h3{
    text-align: center;
    position: relative;
    color:#2AB01E;
}
h4{
    position: relative;
    text-align: center;
    color:#04F0FF;
}
header a{
  background-color:white;
  color:purple;
  border-radius:10px;
  padding:10px 25px;
}
a{
    text-decoration: none;
}
nav{
    text-align: center;
}
.tty{
    text-align: center;
}
.sad{
    display:block;
}
.yt{
    position: relative;
}
section{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
}
